main {
    background: linear-gradient(to right top, #EAF2F8, white)
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-navigation {
    margin-left: 500px;
}

#data_table {
    position: relative;
    margin-top: 8%;
    margin-left: 30%;
}

.mdl-textfield__input {
    width: fit-content;
    margin: 0
}